*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  background-attachment: fixed;
}
.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 100px;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 771px 1370px 0 0px rgba(255, 255, 255, 0.275),
    1395px 962px 0 0px rgba(255, 255, 255, 0.532),
    1496px 1122px 0 0px rgba(255, 255, 255, 0.865),
    362px 598px 0 0px rgba(255, 255, 255, 0.838),
    58px 31px 0 0px rgba(255, 255, 255, 0.169),
    113px 1455px 0 0px rgba(255, 255, 255, 0.367),
    235px 775px 0 0px rgba(255, 255, 255, 0.39),
    175px 1422px 0 0px rgba(255, 255, 255, 0.79),
    1065px 456px 0 0px rgba(255, 255, 255, 0.76),
    969px 1560px 0 0px rgba(255, 255, 255, 0.093),
    1569px 1014px 0 0px rgba(255, 255, 255, 0.018),
    1183px 1558px 0 0px rgba(255, 255, 255, 0.568),
    477px 1519px 0 0px rgba(255, 255, 255, 0.924),
    134px 390px 0 0px rgba(255, 255, 255, 0.062),
    1407px 1618px 0 0px rgba(255, 255, 255, 0.21),
    260px 1654px 0 0px rgba(255, 255, 255, 0.097),
    16px 152px 0 0px rgba(255, 255, 255, 0.612),
    1518px 1534px 0 0px rgba(255, 255, 255, 0.859),
    1408px 108px 0 0px rgba(255, 255, 255, 0.1),
    852px 1094px 0 0px rgba(255, 255, 255, 0.606),
    472px 395px 0 0px rgba(255, 255, 255, 0.45),
    1541px 16px 0 0px rgba(255, 255, 255, 0.929),
    970px 1548px 0 0px rgba(255, 255, 255, 0.112),
    641px 921px 0 0px rgba(255, 255, 255, 0.509),
    1419px 1504px 0 0px rgba(255, 255, 255, 0.288),
    1643px 578px 0 0px rgba(255, 255, 255, 0.456),
    429px 1541px 0 0px rgba(255, 255, 255, 0.245),
    1558px 741px 0 0px rgba(255, 255, 255, 0.793),
    882px 133px 0 0px rgba(255, 255, 255, 0.008),
    1701px 1026px 0 0px rgba(255, 255, 255, 0.199),
    683px 568px 0 0px rgba(255, 255, 255, 0.055),
    979px 1409px 0 0px rgba(255, 255, 255, 0.158),
    1783px 964px 0 0px rgba(255, 255, 255, 0.069),
    1709px 162px 0 0px rgba(255, 255, 255, 0.661),
    1307px 127px 0 0px rgba(255, 255, 255, 0.72),
    29px 633px 0 0px rgba(255, 255, 255, 0.959),
    309px 686px 0 0px rgba(255, 255, 255, 0.01),
    847px 829px 0 0px rgba(255, 255, 255, 0.019),
    1193px 446px 0 0px rgba(255, 255, 255, 0.292),
    1343px 1652px 0 0px rgba(255, 255, 255, 0.098),
    842px 314px 0 0px rgba(255, 255, 255, 0.01),
    291px 1695px 0 0px rgba(255, 255, 255, 0.712),
    1246px 513px 0 0px rgba(255, 255, 255, 0.797),
    1482px 677px 0 0px rgba(255, 255, 255, 0.85),
    723px 459px 0 0px rgba(255, 255, 255, 0.087),
    1047px 568px 0 0px rgba(255, 255, 255, 0.785),
    917px 799px 0 0px rgba(255, 255, 255, 0.024),
    942px 1377px 0 0px rgba(255, 255, 255, 0.51),
    51px 265px 0 0px rgba(255, 255, 255, 0.639),
    76px 1662px 0 0px rgba(255, 255, 255, 0.968),
    1122px 587px 0 0px rgba(255, 255, 255, 0.856),
    823px 310px 0 0px rgba(255, 255, 255, 0.139),
    724px 114px 0 0px rgba(255, 255, 255, 0.666),
    347px 1587px 0 0px rgba(255, 255, 255, 0.147),
    453px 1682px 0 0px rgba(255, 255, 255, 0.265),
    418px 1326px 0 0px rgba(255, 255, 255, 0.17),
    915px 1583px 0 0px rgba(255, 255, 255, 0.903),
    1052px 578px 0 0px rgba(255, 255, 255, 0.41),
    23px 312px 0 0px rgba(255, 255, 255, 0.78),
    511px 87px 0 0px rgba(255, 255, 255, 0.216),
    1584px 320px 0 0px rgba(255, 255, 255, 0.663),
    1248px 915px 0 0px rgba(255, 255, 255, 0.066),
    737px 1334px 0 0px rgba(255, 255, 255, 0.673),
    1329px 83px 0 0px rgba(255, 255, 255, 0.608),
    418px 1239px 0 0px rgba(255, 255, 255, 0.961),
    331px 594px 0 0px rgba(255, 255, 255, 0.179),
    344px 566px 0 0px rgba(255, 255, 255, 0.148),
    126px 48px 0 0px rgba(255, 255, 255, 0.603),
    1023px 879px 0 0px rgba(255, 255, 255, 0.759),
    1608px 967px 0 0px rgba(255, 255, 255, 0.146),
    667px 4px 0 0px rgba(255, 255, 255, 0.894),
    1672px 881px 0 0px rgba(255, 255, 255, 0.412),
    1417px 1408px 0 0px rgba(255, 255, 255, 0.191),
    185px 298px 0 0px rgba(255, 255, 255, 0.526),
    1242px 42px 0 0px rgba(255, 255, 255, 0.99),
    1722px 498px 0 0px rgba(255, 255, 255, 0.648),
    489px 400px 0 0px rgba(255, 255, 255, 0.314),
    361px 968px 0 0px rgba(255, 255, 255, 0.851),
    569px 672px 0 0px rgba(255, 255, 255, 0.27),
    1139px 1501px 0 0px rgba(255, 255, 255, 0.423),
    1277px 707px 0 0px rgba(255, 255, 255, 0.998),
    825px 124px 0 0px rgba(255, 255, 255, 0.777),
    1534px 605px 0 0px rgba(255, 255, 255, 0.722),
    1250px 670px 0 0px rgba(255, 255, 255, 0.971),
    532px 786px 0 0px rgba(255, 255, 255, 0.642),
    1527px 839px 0 0px rgba(255, 255, 255, 0.585),
    1121px 1468px 0 0px rgba(255, 255, 255, 0.812),
    627px 404px 0 0px rgba(255, 255, 255, 0.433),
    326px 1020px 0 0px rgba(255, 255, 255, 0.981),
    70px 544px 0 0px rgba(255, 255, 255, 0.255),
    843px 1482px 0 0px rgba(255, 255, 255, 0.571),
    671px 1119px 0 0px rgba(255, 255, 255, 0.741),
    1084px 1545px 0 0px rgba(255, 255, 255, 0.181),
    1442px 193px 0 0px rgba(255, 255, 255, 0.102),
    314px 112px 0 0px rgba(255, 255, 255, 0.682),
    105px 767px 0 0px rgba(255, 255, 255, 0.021),
    1014px 1049px 0 0px rgba(255, 255, 255, 0.339),
    415px 357px 0 0px rgba(255, 255, 255, 0.17),
    453px 1720px 0 0px rgba(255, 255, 255, 0.175),
    188px 1242px 0 0px rgba(255, 255, 255, 0.454),
    375px 1547px 0 0px rgba(255, 255, 255, 0.006),
    968px 1420px 0 0px rgba(255, 255, 255, 0.228),
    1637px 1102px 0 0px rgba(255, 255, 255, 0.49),
    390px 1431px 0 0px rgba(255, 255, 255, 0.135),
    538px 1623px 0 0px rgba(255, 255, 255, 0.251),
    290px 612px 0 0px rgba(255, 255, 255, 0.83),
    458px 352px 0 0px rgba(255, 255, 255, 0.208),
    1536px 1178px 0 0px rgba(255, 255, 255, 0.369),
    1486px 979px 0 0px rgba(255, 255, 255, 0.58),
    1146px 373px 0 0px rgba(255, 255, 255, 0.587),
    209px 1189px 0 0px rgba(255, 255, 255, 0.594),
    1267px 983px 0 0px rgba(255, 255, 255, 0.59),
    832px 1077px 0 0px rgba(255, 255, 255, 0.492),
    890px 1147px 0 0px rgba(255, 255, 255, 0.16),
    1502px 1218px 0 0px rgba(255, 255, 255, 0.898),
    93px 886px 0 0px rgba(255, 255, 255, 0.992),
    1395px 1058px 0 0px rgba(255, 255, 255, 0.678),
    687px 1680px 0 0px rgba(255, 255, 255, 0.231),
    369px 726px 0 0px rgba(255, 255, 255, 0.377),
    544px 328px 0 0px rgba(255, 255, 255, 0.649),
    1192px 1000px 0 0px rgba(255, 255, 255, 0.929),
    57px 1221px 0 0px rgba(255, 255, 255, 0.234),
    75px 730px 0 0px rgba(255, 255, 255, 0.191),
    1131px 176px 0 0px rgba(255, 255, 255, 0.802),
    469px 438px 0 0px rgba(255, 255, 255, 0.66),
    1275px 1352px 0 0px rgba(255, 255, 255, 0.012),
    1078px 1030px 0 0px rgba(255, 255, 255, 0.927),
    1579px 740px 0 0px rgba(255, 255, 255, 0.879),
    1577px 1016px 0 0px rgba(255, 255, 255, 0.776),
    320px 799px 0 0px rgba(255, 255, 255, 0.524),
    1425px 938px 0 0px rgba(255, 255, 255, 0.447),
    568px 699px 0 0px rgba(255, 255, 255, 0.918),
    720px 770px 0 0px rgba(255, 255, 255, 0.284),
    1110px 445px 0 0px rgba(255, 255, 255, 0.127),
    1259px 908px 0 0px rgba(255, 255, 255, 0.552),
    1222px 937px 0 0px rgba(255, 255, 255, 0.796),
    1645px 611px 0 0px rgba(255, 255, 255, 0.072),
    721px 581px 0 0px rgba(255, 255, 255, 0.871),
    778px 1543px 0 0px rgba(255, 255, 255, 0.514),
    1138px 49px 0 0px rgba(255, 255, 255, 0.465),
    671px 1532px 0 0px rgba(255, 255, 255, 0.724),
    566px 1672px 0 0px rgba(255, 255, 255, 0.586),
    1585px 907px 0 0px rgba(255, 255, 255, 0.12),
    1787px 416px 0 0px rgba(255, 255, 255, 0.409),
    1322px 447px 0 0px rgba(255, 255, 255, 0.131),
    1751px 844px 0 0px rgba(255, 255, 255, 0.623),
    57px 1198px 0 0px rgba(255, 255, 255, 0.249),
    608px 268px 0 0px rgba(255, 255, 255, 0.084),
    154px 1502px 0 0px rgba(255, 255, 255, 0.307),
    324px 864px 0 0px rgba(255, 255, 255, 0.998),
    1406px 805px 0 0px rgba(255, 255, 255, 0.37),
    1440px 11px 0 0px rgba(255, 255, 255, 0.334),
    536px 691px 0 0px rgba(255, 255, 255, 0.404),
    977px 1405px 0 0px rgba(255, 255, 255, 0.416),
    654px 1681px 0 0px rgba(255, 255, 255, 0.781),
    383px 1797px 0 0px rgba(255, 255, 255, 0.367),
    1705px 1763px 0 0px rgba(255, 255, 255, 0.024),
    1574px 133px 0 0px rgba(255, 255, 255, 0.882),
    1049px 944px 0 0px rgba(255, 255, 255, 0.895),
    678px 299px 0 0px rgba(255, 255, 255, 0.495),
    870px 219px 0 0px rgba(255, 255, 255, 0.997),
    1416px 1200px 0 0px rgba(255, 255, 255, 0.262),
    1428px 644px 0 0px rgba(255, 255, 255, 0.797),
    1354px 446px 0 0px rgba(255, 255, 255, 0.421),
    736px 949px 0 0px rgba(255, 255, 255, 0.759),
    1791px 1705px 0 0px rgba(255, 255, 255, 0.686),
    854px 1090px 0 0px rgba(255, 255, 255, 0.92),
    332px 38px 0 0px rgba(255, 255, 255, 0.426),
    780px 803px 0 0px rgba(255, 255, 255, 0.164),
    1212px 1650px 0 0px rgba(255, 255, 255, 0.68),
    412px 1742px 0 0px rgba(255, 255, 255, 0.122),
    487px 114px 0 0px rgba(255, 255, 255, 0.543),
    1434px 432px 0 0px rgba(255, 255, 255, 0.209),
    1399px 276px 0 0px rgba(255, 255, 255, 0.258),
    944px 1387px 0 0px rgba(255, 255, 255, 0.863),
    1128px 1236px 0 0px rgba(255, 255, 255, 0.764),
    1371px 1257px 0 0px rgba(255, 255, 255, 0.624),
    562px 1487px 0 0px rgba(255, 255, 255, 0.982),
    644px 321px 0 0px rgba(255, 255, 255, 0.953),
    56px 1424px 0 0px rgba(255, 255, 255, 0.938),
    957px 1054px 0 0px rgba(255, 255, 255, 0.886),
    3px 403px 0 0px rgba(255, 255, 255, 0.416),
    1714px 1076px 0 0px rgba(255, 255, 255, 0.127),
    651px 136px 0 0px rgba(255, 255, 255, 0.02),
    639px 177px 0 0px rgba(255, 255, 255, 0.638),
    1467px 1155px 0 0px rgba(255, 255, 255, 0.986),
    88px 1714px 0 0px rgba(255, 255, 255, 0.488),
    1750px 1233px 0 0px rgba(255, 255, 255, 0.676),
    768px 1647px 0 0px rgba(255, 255, 255, 0.006),
    161px 550px 0 0px rgba(255, 255, 255, 0.897),
    657px 518px 0 0px rgba(255, 255, 255, 0.567),
    507px 1751px 0 0px rgba(255, 255, 255, 0.78),
    627px 298px 0 0px rgba(255, 255, 255, 0.665),
    1769px 305px 0 0px rgba(255, 255, 255, 0.677),
    1634px 172px 0 0px rgba(255, 255, 255, 0.944),
    1413px 1504px 0 0px rgba(255, 255, 255, 0.033),
    1728px 705px 0 0px rgba(255, 255, 255, 0.986),
    779px 703px 0 0px rgba(255, 255, 255, 0.478),
    884px 1196px 0 0px rgba(255, 255, 255, 0.825),
    148px 1353px 0 0px rgba(255, 255, 255, 0.301),
    1728px 162px 0 0px rgba(255, 255, 255, 0.25),
    153px 941px 0 0px rgba(255, 255, 255, 0.627),
    1045px 1664px 0 0px rgba(255, 255, 255, 0.812),
    1664px 1597px 0 0px rgba(255, 255, 255, 0.886),
    393px 1413px 0 0px rgba(255, 255, 255, 0.856),
    204px 1037px 0 0px rgba(255, 255, 255, 0.684),
    531px 46px 0 0px rgba(255, 255, 255, 0.372),
    883px 1388px 0 0px rgba(255, 255, 255, 0.701),
    1px 704px 0 0px rgba(255, 255, 255, 0.339),
    1230px 1756px 0 0px rgba(255, 255, 255, 0.506),
    1519px 667px 0 0px rgba(255, 255, 255, 0.901),
    674px 1583px 0 0px rgba(255, 255, 255, 0.896),
    695px 1731px 0 0px rgba(255, 255, 255, 0.255),
    402px 134px 0 0px rgba(255, 255, 255, 0.526),
    1564px 1008px 0 0px rgba(255, 255, 255, 0.315),
    906px 792px 0 0px rgba(255, 255, 255, 0.658),
    1296px 27px 0 0px rgba(255, 255, 255, 0.352),
    1386px 551px 0 0px rgba(255, 255, 255, 0.076),
    356px 1713px 0 0px rgba(255, 255, 255, 0.583),
    205px 468px 0 0px rgba(255, 255, 255, 0.643),
    106px 1683px 0 0px rgba(255, 255, 255, 0.079),
    1712px 519px 0 0px rgba(255, 255, 255, 0.187),
    44px 1679px 0 0px rgba(255, 255, 255, 0.144),
    1115px 1481px 0 0px rgba(255, 255, 255, 0.913),
    689px 1084px 0 0px rgba(255, 255, 255, 0.495),
    731px 824px 0 0px rgba(255, 255, 255, 0.932),
    635px 239px 0 0px rgba(255, 255, 255, 0.8),
    511px 1151px 0 0px rgba(255, 255, 255, 0.38),
    424px 618px 0 0px rgba(255, 255, 255, 0.836),
    751px 922px 0 0px rgba(255, 255, 255, 0.671),
    1497px 882px 0 0px rgba(255, 255, 255, 0.271),
    1679px 781px 0 0px rgba(255, 255, 255, 0.035),
    1547px 1055px 0 0px rgba(255, 255, 255, 0.766),
    1339px 1776px 0 0px rgba(255, 255, 255, 0.83),
    1061px 1456px 0 0px rgba(255, 255, 255, 0.735),
    470px 229px 0 0px rgba(255, 255, 255, 0.4),
    12px 158px 0 0px rgba(255, 255, 255, 0.739),
    1627px 1596px 0 0px rgba(255, 255, 255, 0.531),
    1127px 86px 0 0px rgba(255, 255, 255, 0.75),
    137px 1500px 0 0px rgba(255, 255, 255, 0.639),
    81px 1184px 0 0px rgba(255, 255, 255, 0.971),
    679px 1416px 0 0px rgba(255, 255, 255, 0.465),
    898px 675px 0 0px rgba(255, 255, 255, 0.145),
    940px 1091px 0 0px rgba(255, 255, 255, 0.312),
    1620px 1110px 0 0px rgba(255, 255, 255, 0.628),
    406px 510px 0 0px rgba(255, 255, 255, 0.496),
    500px 971px 0 0px rgba(255, 255, 255, 0.691),
    458px 317px 0 0px rgba(255, 255, 255, 0.18),
    993px 1292px 0 0px rgba(255, 255, 255, 0.498),
    1591px 434px 0 0px rgba(255, 255, 255, 0.141),
    917px 1712px 0 0px rgba(255, 255, 255, 0.136),
    290px 1502px 0 0px rgba(255, 255, 255, 0.58),
    1555px 1291px 0 0px rgba(255, 255, 255, 0.805),
    105px 1314px 0 0px rgba(255, 255, 255, 0.857),
    437px 1700px 0 0px rgba(255, 255, 255, 0.277),
    1296px 170px 0 0px rgba(255, 255, 255, 0.536),
    763px 1152px 0 0px rgba(255, 255, 255, 0.591),
    1739px 129px 0 0px rgba(255, 255, 255, 0.665),
    1749px 402px 0 0px rgba(255, 255, 255, 0.463),
    658px 1101px 0 0px rgba(255, 255, 255, 0.287),
    35px 688px 0 0px rgba(255, 255, 255, 0.266),
    709px 240px 0 0px rgba(255, 255, 255, 0.804),
    1722px 732px 0 0px rgba(255, 255, 255, 0.123),
    453px 415px 0 0px rgba(255, 255, 255, 0.714),
    1260px 1482px 0 0px rgba(255, 255, 255, 0.222),
    1681px 364px 0 0px rgba(255, 255, 255, 0.266),
    698px 136px 0 0px rgba(255, 255, 255, 0.409),
    163px 795px 0 0px rgba(255, 255, 255, 0.961),
    986px 1464px 0 0px rgba(255, 255, 255, 0.24),
    248px 242px 0 0px rgba(255, 255, 255, 0.554),
    911px 297px 0 0px rgba(255, 255, 255, 0.916),
    521px 626px 0 0px rgba(255, 255, 255, 0.312),
    745px 1014px 0 0px rgba(255, 255, 255, 0.414),
    12px 1120px 0 0px rgba(255, 255, 255, 0.141),
    341px 1304px 0 0px rgba(255, 255, 255, 0.237),
    1647px 271px 0 0px rgba(255, 255, 255, 0.668),
    442px 1008px 0 0px rgba(255, 255, 255, 0.673),
    1488px 1582px 0 0px rgba(255, 255, 255, 0.109),
    1079px 437px 0 0px rgba(255, 255, 255, 0.218),
    948px 625px 0 0px rgba(255, 255, 255, 0.736),
    896px 284px 0 0px rgba(255, 255, 255, 0.601),
    847px 89px 0 0px rgba(255, 255, 255, 0.662),
    1071px 872px 0 0px rgba(255, 255, 255, 0.392),
    356px 1519px 0 0px rgba(255, 255, 255, 0.16),
    504px 14px 0 0px rgba(255, 255, 255, 0.072),
    411px 1663px 0 0px rgba(255, 255, 255, 0.746),
    993px 124px 0 0px rgba(255, 255, 255, 0.351),
    1301px 1743px 0 0px rgba(255, 255, 255, 0.231),
    271px 1466px 0 0px rgba(255, 255, 255, 0.803),
    1137px 502px 0 0px rgba(255, 255, 255, 0.564),
    1444px 1080px 0 0px rgba(255, 255, 255, 0.921),
    1696px 1768px 0 0px rgba(255, 255, 255, 0.168),
    1163px 1154px 0 0px rgba(255, 255, 255, 0.696),
    1058px 287px 0 0px rgba(255, 255, 255, 0.25),
    850px 1025px 0 0px rgba(255, 255, 255, 0.237),
    800px 1316px 0 0px rgba(255, 255, 255, 0.574),
    11px 467px 0 0px rgba(255, 255, 255, 0.992),
    143px 1339px 0 0px rgba(255, 255, 255, 0.836),
    756px 101px 0 0px rgba(255, 255, 255, 0.113),
    1605px 127px 0 0px rgba(255, 255, 255, 0.233),
    449px 649px 0 0px rgba(255, 255, 255, 0.328),
    660px 1456px 0 0px rgba(255, 255, 255, 0.664),
    671px 606px 0 0px rgba(255, 255, 255, 0.179),
    1224px 528px 0 0px rgba(255, 255, 255, 0.346),
    467px 1289px 0 0px rgba(255, 255, 255, 0.552),
    1760px 1044px 0 0px rgba(255, 255, 255, 0.707),
    300px 545px 0 0px rgba(255, 255, 255, 0.977),
    1020px 1004px 0 0px rgba(255, 255, 255, 0.374),
    1122px 705px 0 0px rgba(255, 255, 255, 0.923),
    901px 390px 0 0px rgba(255, 255, 255, 0.933),
    516px 96px 0 0px rgba(255, 255, 255, 0.104),
    1671px 1248px 0 0px rgba(255, 255, 255, 0.123),
    1643px 365px 0 0px rgba(255, 255, 255, 0.087),
    677px 1077px 0 0px rgba(255, 255, 255, 0.974),
    616px 690px 0 0px rgba(255, 255, 255, 0.941),
    969px 478px 0 0px rgba(255, 255, 255, 0.354),
    1503px 258px 0 0px rgba(255, 255, 255, 0.146),
    955px 1501px 0 0px rgba(255, 255, 255, 0.848),
    1736px 1740px 0 0px rgba(255, 255, 255, 0.266),
    1148px 448px 0 0px rgba(255, 255, 255, 0.135),
    550px 994px 0 0px rgba(255, 255, 255, 0.675),
    980px 126px 0 0px rgba(255, 255, 255, 0.535),
    1343px 925px 0 0px rgba(255, 255, 255, 0.343),
    1623px 1372px 0 0px rgba(255, 255, 255, 0.538),
    1130px 1456px 0 0px rgba(255, 255, 255, 0.933),
    699px 287px 0 0px rgba(255, 255, 255, 0.02),
    1264px 1563px 0 0px rgba(255, 255, 255, 0.773),
    866px 1586px 0 0px rgba(255, 255, 255, 0.899),
    1348px 1164px 0 0px rgba(255, 255, 255, 0.827),
    1022px 367px 0 0px rgba(255, 255, 255, 0.753),
    773px 546px 0 0px rgba(255, 255, 255, 0.699),
    54px 430px 0 0px rgba(255, 255, 255, 0.129),
    35px 1522px 0 0px rgba(255, 255, 255, 0.086),
    1651px 306px 0 0px rgba(255, 255, 255, 0.875),
    1113px 7px 0 0px rgba(255, 255, 255, 0.705),
    732px 1559px 0 0px rgba(255, 255, 255, 0.249),
    416px 1256px 0 0px rgba(255, 255, 255, 0.284),
    761px 1489px 0 0px rgba(255, 255, 255, 0.038),
    593px 675px 0 0px rgba(255, 255, 255, 0.619),
    591px 940px 0 0px rgba(255, 255, 255, 0.202),
    1255px 119px 0 0px rgba(255, 255, 255, 0.79),
    823px 719px 0 0px rgba(255, 255, 255, 0.838),
    887px 1723px 0 0px rgba(255, 255, 255, 0.168),
    802px 1203px 0 0px rgba(255, 255, 255, 0.302),
    1717px 1462px 0 0px rgba(255, 255, 255, 0.8),
    185px 1541px 0 0px rgba(255, 255, 255, 0.188),
    1673px 207px 0 0px rgba(255, 255, 255, 0.835),
    1494px 1786px 0 0px rgba(255, 255, 255, 0.174),
    489px 1136px 0 0px rgba(255, 255, 255, 0.453),
    577px 460px 0 0px rgba(255, 255, 255, 0.406),
    1146px 1797px 0 0px rgba(255, 255, 255, 0.449),
    1081px 1755px 0 0px rgba(255, 255, 255, 0.03),
    1186px 105px 0 0px rgba(255, 255, 255, 0.439),
    518px 1694px 0 0px rgba(255, 255, 255, 0.14),
    1015px 603px 0 0px rgba(255, 255, 255, 0.784),
    1007px 100px 0 0px rgba(255, 255, 255, 0.972),
    1545px 1133px 0 0px rgba(255, 255, 255, 0.526),
    1635px 625px 0 0px rgba(255, 255, 255, 0.179),
    30px 1517px 0 0px rgba(255, 255, 255, 0.386),
    457px 1482px 0 0px rgba(255, 255, 255, 0.993),
    858px 1798px 0 0px rgba(255, 255, 255, 0.684),
    913px 1441px 0 0px rgba(255, 255, 255, 0.173),
    1439px 1697px 0 0px rgba(255, 255, 255, 0.752),
    318px 1372px 0 0px rgba(255, 255, 255, 0.572),
    1061px 320px 0 0px rgba(255, 255, 255, 0.857),
    434px 433px 0 0px rgba(255, 255, 255, 0.68),
    1329px 1389px 0 0px rgba(255, 255, 255, 0.659),
    812px 148px 0 0px rgba(255, 255, 255, 0.948),
    24px 1422px 0 0px rgba(255, 255, 255, 0.36),
    165px 151px 0 0px rgba(255, 255, 255, 0.658),
    1076px 1167px 0 0px rgba(255, 255, 255, 0.039),
    1432px 689px 0 0px rgba(255, 255, 255, 0.733),
    827px 1060px 0 0px rgba(255, 255, 255, 0.091),
    870px 226px 0 0px rgba(255, 255, 255, 0.012),
    1051px 1398px 0 0px rgba(255, 255, 255, 0.983),
    748px 1018px 0 0px rgba(255, 255, 255, 0.596),
    218px 521px 0 0px rgba(255, 255, 255, 0.735),
    416px 1299px 0 0px rgba(255, 255, 255, 0.992),
    1131px 501px 0 0px rgba(255, 255, 255, 0.305),
    1704px 38px 0 0px rgba(255, 255, 255, 0.96),
    1137px 1558px 0 0px rgba(255, 255, 255, 0.689),
    1785px 81px 0 0px rgba(255, 255, 255, 0.864),
    1339px 269px 0 0px rgba(255, 255, 255, 0.343),
    967px 467px 0 0px rgba(255, 255, 255, 0.505),
    56px 496px 0 0px rgba(255, 255, 255, 0.616),
    1556px 1632px 0 0px rgba(255, 255, 255, 0.583),
    1415px 1783px 0 0px rgba(255, 255, 255, 0.425),
    701px 535px 0 0px rgba(255, 255, 255, 0.485),
    1185px 347px 0 0px rgba(255, 255, 255, 0.312),
    672px 1247px 0 0px rgba(255, 255, 255, 0.526),
    568px 198px 0 0px rgba(255, 255, 255, 0.403),
    517px 1289px 0 0px rgba(255, 255, 255, 0.209),
    326px 501px 0 0px rgba(255, 255, 255, 0.908),
    1670px 1172px 0 0px rgba(255, 255, 255, 0.866),
    190px 1177px 0 0px rgba(255, 255, 255, 0.793),
    76px 641px 0 0px rgba(255, 255, 255, 0.695),
    1489px 953px 0 0px rgba(255, 255, 255, 0.341),
    1323px 852px 0 0px rgba(255, 255, 255, 0.009),
    1238px 1280px 0 0px rgba(255, 255, 255, 0.546),
    1014px 1502px 0 0px rgba(255, 255, 255, 0.669),
    561px 1022px 0 0px rgba(255, 255, 255, 0.619),
    123px 222px 0 0px rgba(255, 255, 255, 0.325),
    1106px 506px 0 0px rgba(255, 255, 255, 0.322),
    1329px 1031px 0 0px rgba(255, 255, 255, 0.576),
    1568px 296px 0 0px rgba(255, 255, 255, 0.86),
    883px 238px 0 0px rgba(255, 255, 255, 0.401),
    1542px 79px 0 0px rgba(255, 255, 255, 0.268),
    207px 1384px 0 0px rgba(255, 255, 255, 0.631),
    876px 1113px 0 0px rgba(255, 255, 255, 0.381),
    1654px 1010px 0 0px rgba(255, 255, 255, 0.273),
    954px 608px 0 0px rgba(255, 255, 255, 0.793),
    465px 861px 0 0px rgba(255, 255, 255, 0.689),
    349px 481px 0 0px rgba(255, 255, 255, 0.926),
    1442px 1302px 0 0px rgba(255, 255, 255, 0.78),
    178px 1533px 0 0px rgba(255, 255, 255, 0.526),
    784px 438px 0 0px rgba(255, 255, 255, 0.579),
    448px 659px 0 0px rgba(255, 255, 255, 0.802),
    513px 1208px 0 0px rgba(255, 255, 255, 0.543),
    40px 1601px 0 0px rgba(255, 255, 255, 0.657),
    1356px 198px 0 0px rgba(255, 255, 255, 0.331),
    1155px 646px 0 0px rgba(255, 255, 255, 0.711),
    541px 1453px 0 0px rgba(255, 255, 255, 0.321),
    1614px 1567px 0 0px rgba(255, 255, 255, 0.629),
    918px 478px 0 0px rgba(255, 255, 255, 0.552),
    389px 288px 0 0px rgba(255, 255, 255, 0.191),
    591px 679px 0 0px rgba(255, 255, 255, 0.979),
    32px 79px 0 0px rgba(255, 255, 255, 0.528),
    1505px 400px 0 0px rgba(255, 255, 255, 0.944),
    1409px 797px 0 0px rgba(255, 255, 255, 0.093),
    1653px 1046px 0 0px rgba(255, 255, 255, 0.72),
    1249px 393px 0 0px rgba(255, 255, 255, 0.003),
    986px 1259px 0 0px rgba(255, 255, 255, 0.697),
    1592px 92px 0 0px rgba(255, 255, 255, 0.556),
    1661px 1543px 0 0px rgba(255, 255, 255, 0.511),
    1287px 1174px 0 0px rgba(255, 255, 255, 0.199),
    366px 540px 0 0px rgba(255, 255, 255, 0.001),
    922px 1248px 0 0px rgba(255, 255, 255, 0.592),
    802px 1483px 0 0px rgba(255, 255, 255, 0.138),
    365px 1280px 0 0px rgba(255, 255, 255, 0.718),
    65px 1792px 0 0px rgba(255, 255, 255, 0.068),
    723px 1637px 0 0px rgba(255, 255, 255, 0.534),
    1030px 999px 0 0px rgba(255, 255, 255, 0.072),
    651px 173px 0 0px rgba(255, 255, 255, 0.548),
    837px 51px 0 0px rgba(255, 255, 255, 0.869),
    780px 1473px 0 0px rgba(255, 255, 255, 0.988),
    1310px 6px 0 0px rgba(255, 255, 255, 0.621),
    35px 1311px 0 0px rgba(255, 255, 255, 0.56),
    1710px 1795px 0 0px rgba(255, 255, 255, 0.642),
    339px 1265px 0 0px rgba(255, 255, 255, 0.109),
    1495px 1217px 0 0px rgba(255, 255, 255, 0.387),
    749px 1082px 0 0px rgba(255, 255, 255, 0.063),
    1243px 1116px 0 0px rgba(255, 255, 255, 0.102),
    42px 176px 0 0px rgba(255, 255, 255, 0.64),
    964px 1480px 0 0px rgba(255, 255, 255, 0.433),
    970px 922px 0 0px rgba(255, 255, 255, 0.281),
    906px 364px 0 0px rgba(255, 255, 255, 0.736),
    1278px 913px 0 0px rgba(255, 255, 255, 0.25),
    530px 1722px 0 0px rgba(255, 255, 255, 0.134),
    1434px 682px 0 0px rgba(255, 255, 255, 0.516),
    730px 1656px 0 0px rgba(255, 255, 255, 0.578),
    187px 3px 0 0px rgba(255, 255, 255, 0.964),
    1201px 149px 0 0px rgba(255, 255, 255, 0.317),
    286px 140px 0 0px rgba(255, 255, 255, 0.366),
    1442px 1716px 0 0px rgba(255, 255, 255, 0.54),
    370px 482px 0 0px rgba(255, 255, 255, 0.207),
    293px 1506px 0 0px rgba(255, 255, 255, 0.449),
    700px 591px 0 0px rgba(255, 255, 255, 0.259),
    574px 1279px 0 0px rgba(255, 255, 255, 0.248),
    1486px 1207px 0 0px rgba(255, 255, 255, 0.849),
    224px 53px 0 0px rgba(255, 255, 255, 0.097),
    972px 129px 0 0px rgba(255, 255, 255, 0.537),
    1367px 195px 0 0px rgba(255, 255, 255, 0.158),
    819px 1360px 0 0px rgba(255, 255, 255, 0.255),
    344px 1347px 0 0px rgba(255, 255, 255, 0.579),
    1665px 1222px 0 0px rgba(255, 255, 255, 0.833),
    671px 400px 0 0px rgba(255, 255, 255, 0.607),
    862px 828px 0 0px rgba(255, 255, 255, 0.383),
    1771px 145px 0 0px rgba(255, 255, 255, 0.85),
    743px 188px 0 0px rgba(255, 255, 255, 0.776),
    368px 545px 0 0px rgba(255, 255, 255, 0.158),
    1604px 442px 0 0px rgba(255, 255, 255, 0.945),
    1176px 964px 0 0px rgba(255, 255, 255, 0.654),
    1739px 1793px 0 0px rgba(255, 255, 255, 0.09),
    857px 510px 0 0px rgba(255, 255, 255, 0.255),
    1794px 575px 0 0px rgba(255, 255, 255, 0.128),
    453px 1037px 0 0px rgba(255, 255, 255, 0.942),
    435px 135px 0 0px rgba(255, 255, 255, 0.775),
    899px 321px 0 0px rgba(255, 255, 255, 0.415),
    357px 1402px 0 0px rgba(255, 255, 255, 0.885),
    1355px 1545px 0 0px rgba(255, 255, 255, 0.851),
    685px 433px 0 0px rgba(255, 255, 255, 0.322),
    45px 723px 0 0px rgba(255, 255, 255, 0.087),
    1521px 1446px 0 0px rgba(255, 255, 255, 0.238),
    1482px 563px 0 0px rgba(255, 255, 255, 0.792),
    1739px 1123px 0 0px rgba(255, 255, 255, 0.879),
    411px 1094px 0 0px rgba(255, 255, 255, 0.359),
    139px 1291px 0 0px rgba(255, 255, 255, 0.524),
    642px 673px 0 0px rgba(255, 255, 255, 0.117),
    832px 679px 0 0px rgba(255, 255, 255, 0.066),
    567px 1065px 0 0px rgba(255, 255, 255, 0.973);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}
.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4),
    0 0 22px 11px rgba(255, 203, 0, 0.13);
}
.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}
.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #beb768;
  margin-top: -4px;
  margin-left: -4px;
}
.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  animation: orb 2.2440352158s linear infinite;
}
.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}
.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}
.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}
.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}
.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}
.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -142px 90px 0 -104px rgba(255, 255, 255, 0.581),
    -32px -138px 0 -104px rgba(255, 255, 255, 0.955),
    24px -3px 0 -104px rgba(255, 255, 255, 0.456),
    -92px 80px 0 -104px rgba(255, 255, 255, 0.585),
    39px -86px 0 -104px rgba(255, 255, 255, 0.83),
    136px -5px 0 -104px rgba(255, 255, 255, 0.875),
    -108px -137px 0 -104px rgba(255, 255, 255, 0.148),
    86px 119px 0 -104px rgba(255, 255, 255, 0.812),
    -30px 115px 0 -104px rgba(255, 255, 255, 0.972),
    -104px -136px 0 -104px rgba(255, 255, 255, 0.636),
    84px -113px 0 -104px rgba(255, 255, 255, 0.061),
    -92px -105px 0 -104px rgba(255, 255, 255, 0.761),
    -125px 32px 0 -104px rgba(255, 255, 255, 0.038),
    -51px -119px 0 -104px rgba(255, 255, 255, 0.194),
    -80px 144px 0 -104px rgba(255, 255, 255, 0.763),
    45px -13px 0 -104px rgba(255, 255, 255, 0.643),
    98px -109px 0 -104px rgba(255, 255, 255, 0.658),
    103px -139px 0 -104px rgba(255, 255, 255, 0.146),
    -46px -1px 0 -104px rgba(255, 255, 255, 0.551),
    -31px 67px 0 -104px rgba(255, 255, 255, 0.907),
    -45px 34px 0 -104px rgba(255, 255, 255, 0.277),
    -135px -39px 0 -104px rgba(255, 255, 255, 0.083),
    -111px 75px 0 -104px rgba(255, 255, 255, 0.143),
    -103px 10px 0 -104px rgba(255, 255, 255, 0.942),
    133px 42px 0 -104px rgba(255, 255, 255, 0.148),
    -20px -59px 0 -104px rgba(255, 255, 255, 0.712),
    -113px 92px 0 -104px rgba(255, 255, 255, 0.537),
    134px 42px 0 -104px rgba(255, 255, 255, 0.352),
    -117px -63px 0 -104px rgba(255, 255, 255, 0.633),
    65px -90px 0 -104px rgba(255, 255, 255, 0.698),
    36px 62px 0 -104px rgba(255, 255, 255, 0.131),
    0px 51px 0 -104px rgba(255, 255, 255, 0.513),
    88px 89px 0 -104px rgba(255, 255, 255, 0.392),
    8px 115px 0 -104px rgba(255, 255, 255, 0.57),
    99px 37px 0 -104px rgba(255, 255, 255, 0.362),
    48px -15px 0 -104px rgba(255, 255, 255, 0.816),
    127px 137px 0 -104px rgba(255, 255, 255, 0.311),
    111px 138px 0 -104px rgba(255, 255, 255, 0.039),
    -124px -80px 0 -104px rgba(255, 255, 255, 0.912),
    104px -92px 0 -104px rgba(255, 255, 255, 0.767),
    -140px 46px 0 -104px rgba(255, 255, 255, 0.173),
    113px 126px 0 -104px rgba(255, 255, 255, 0.266),
    107px -121px 0 -104px rgba(255, 255, 255, 0.707),
    -35px -126px 0 -104px rgba(255, 255, 255, 0.174),
    141px -37px 0 -104px rgba(255, 255, 255, 0.937),
    -4px -67px 0 -104px rgba(255, 255, 255, 0.205),
    -121px -54px 0 -104px rgba(255, 255, 255, 0.419),
    -19px -138px 0 -104px rgba(255, 255, 255, 0.181),
    28px -100px 0 -104px rgba(255, 255, 255, 0.438),
    -8px 0px 0 -104px rgba(255, 255, 255, 0.534),
    47px 32px 0 -104px rgba(255, 255, 255, 0.331),
    -142px -94px 0 -104px rgba(255, 255, 255, 0.804),
    -97px 135px 0 -104px rgba(255, 255, 255, 0.845),
    -97px -122px 0 -104px rgba(255, 255, 255, 0.686),
    -107px 59px 0 -104px rgba(255, 255, 255, 0.193),
    -51px -67px 0 -104px rgba(255, 255, 255, 0.387),
    68px 86px 0 -104px rgba(255, 255, 255, 0.497),
    75px -15px 0 -104px rgba(255, 255, 255, 0.592),
    -1px -57px 0 -104px rgba(255, 255, 255, 0.784),
    -134px 121px 0 -104px rgba(255, 255, 255, 0.963),
    -92px -88px 0 -104px rgba(255, 255, 255, 0.364),
    98px -96px 0 -104px rgba(255, 255, 255, 0.024),
    -127px 51px 0 -104px rgba(255, 255, 255, 0.909),
    46px -65px 0 -104px rgba(255, 255, 255, 0.336),
    35px 32px 0 -104px rgba(255, 255, 255, 0.794),
    23px -39px 0 -104px rgba(255, 255, 255, 0.885),
    107px 24px 0 -104px rgba(255, 255, 255, 0.781),
    -99px 82px 0 -104px rgba(255, 255, 255, 0.557),
    38px -109px 0 -104px rgba(255, 255, 255, 0.156),
    -12px -75px 0 -104px rgba(255, 255, 255, 0.32),
    -30px 99px 0 -104px rgba(255, 255, 255, 0.637),
    -48px -108px 0 -104px rgba(255, 255, 255, 0.321),
    51px -6px 0 -104px rgba(255, 255, 255, 0.628),
    -61px -53px 0 -104px rgba(255, 255, 255, 0.706),
    -75px -15px 0 -104px rgba(255, 255, 255, 0.236),
    -127px 127px 0 -104px rgba(255, 255, 255, 0.142),
    64px 101px 0 -104px rgba(255, 255, 255, 0.234),
    -129px 41px 0 -104px rgba(255, 255, 255, 0.022),
    -49px -133px 0 -104px rgba(255, 255, 255, 0.393),
    -58px -132px 0 -104px rgba(255, 255, 255, 0.087),
    -120px -105px 0 -104px rgba(255, 255, 255, 0.249),
    96px 94px 0 -104px rgba(255, 255, 255, 0.547),
    130px -59px 0 -104px rgba(255, 255, 255, 0.018),
    75px -102px 0 -104px rgba(255, 255, 255, 0.856),
    -44px -75px 0 -104px rgba(255, 255, 255, 0.556),
    -114px 35px 0 -104px rgba(255, 255, 255, 0.388),
    22px 114px 0 -104px rgba(255, 255, 255, 0.257),
    -120px -95px 0 -104px rgba(255, 255, 255, 0.904),
    -17px -38px 0 -104px rgba(255, 255, 255, 0.151),
    -68px 0px 0 -104px rgba(255, 255, 255, 0.377),
    -129px 7px 0 -104px rgba(255, 255, 255, 0.652),
    66px 32px 0 -104px rgba(255, 255, 255, 0.658),
    143px -130px 0 -104px rgba(255, 255, 255, 0.038),
    16px -5px 0 -104px rgba(255, 255, 255, 0.409),
    -40px 55px 0 -104px rgba(255, 255, 255, 0.878),
    84px 101px 0 -104px rgba(255, 255, 255, 0.061),
    119px -89px 0 -104px rgba(255, 255, 255, 0.029),
    122px 114px 0 -104px rgba(255, 255, 255, 0.965),
    83px -69px 0 -104px rgba(255, 255, 255, 0.779),
    -97px 14px 0 -104px rgba(255, 255, 255, 0.903),
    -137px -35px 0 -104px rgba(255, 255, 255, 0.445),
    -93px -30px 0 -104px rgba(255, 255, 255, 0.41),
    -18px 109px 0 -104px rgba(255, 255, 255, 0.473),
    28px 125px 0 -104px rgba(255, 255, 255, 0.859),
    141px -55px 0 -104px rgba(255, 255, 255, 0.148),
    -108px -117px 0 -104px rgba(255, 255, 255, 0.758),
    -35px 15px 0 -104px rgba(255, 255, 255, 0.776),
    36px -140px 0 -104px rgba(255, 255, 255, 0.52),
    -106px -12px 0 -104px rgba(255, 255, 255, 0.362),
    -126px 120px 0 -104px rgba(255, 255, 255, 0.455),
    135px -52px 0 -104px rgba(255, 255, 255, 0.173),
    5px -123px 0 -104px rgba(255, 255, 255, 0.048),
    104px -38px 0 -104px rgba(255, 255, 255, 0.271),
    118px 109px 0 -104px rgba(255, 255, 255, 0.353),
    86px 96px 0 -104px rgba(255, 255, 255, 0.214),
    -63px 110px 0 -104px rgba(255, 255, 255, 0.2),
    124px 88px 0 -104px rgba(255, 255, 255, 0.688),
    23px 133px 0 -104px rgba(255, 255, 255, 0.734),
    -89px 102px 0 -104px rgba(255, 255, 255, 0.095),
    -37px 80px 0 -104px rgba(255, 255, 255, 0.59),
    106px 64px 0 -104px rgba(255, 255, 255, 0.865),
    64px -104px 0 -104px rgba(255, 255, 255, 0.081),
    -28px -102px 0 -104px rgba(255, 255, 255, 0.007),
    -61px -26px 0 -104px rgba(255, 255, 255, 0.178),
    -76px 39px 0 -104px rgba(255, 255, 255, 0.855),
    -40px 56px 0 -104px rgba(255, 255, 255, 0.608),
    -72px 94px 0 -104px rgba(255, 255, 255, 0.067),
    123px -70px 0 -104px rgba(255, 255, 255, 0.814),
    89px -82px 0 -104px rgba(255, 255, 255, 0.322),
    -80px 77px 0 -104px rgba(255, 255, 255, 0.347),
    -82px 73px 0 -104px rgba(255, 255, 255, 0.275),
    21px 0px 0 -104px rgba(255, 255, 255, 0.62),
    118px 116px 0 -104px rgba(255, 255, 255, 0.746),
    -134px -3px 0 -104px rgba(255, 255, 255, 0.547),
    134px 128px 0 -104px rgba(255, 255, 255, 0.714),
    -77px -39px 0 -104px rgba(255, 255, 255, 0.774),
    93px -49px 0 -104px rgba(255, 255, 255, 0.45),
    -83px -128px 0 -104px rgba(255, 255, 255, 0.351),
    -46px -98px 0 -104px rgba(255, 255, 255, 0.143),
    70px -116px 0 -104px rgba(255, 255, 255, 0.322),
    65px 131px 0 -104px rgba(255, 255, 255, 0.797),
    7px 34px 0 -104px rgba(255, 255, 255, 0.529),
    -54px -118px 0 -104px rgba(255, 255, 255, 0.624),
    -85px -108px 0 -104px rgba(255, 255, 255, 0.594),
    -108px 111px 0 -104px rgba(255, 255, 255, 0.866),
    32px -23px 0 -104px rgba(255, 255, 255, 0.747),
    34px 139px 0 -104px rgba(255, 255, 255, 0.999),
    -91px 23px 0 -104px rgba(255, 255, 255, 0.782),
    82px -44px 0 -104px rgba(255, 255, 255, 0.455),
    99px -121px 0 -104px rgba(255, 255, 255, 0.553),
    1px -2px 0 -104px rgba(255, 255, 255, 0.496),
    -98px 112px 0 -104px rgba(255, 255, 255, 0.907),
    65px -84px 0 -104px rgba(255, 255, 255, 0.184),
    -76px 91px 0 -104px rgba(255, 255, 255, 0.288),
    66px 25px 0 -104px rgba(255, 255, 255, 0.437),
    50px -31px 0 -104px rgba(255, 255, 255, 0.979),
    141px 121px 0 -104px rgba(255, 255, 255, 0.308),
    -3px -111px 0 -104px rgba(255, 255, 255, 0.691),
    -80px -130px 0 -104px rgba(255, 255, 255, 0.253),
    119px -109px 0 -104px rgba(255, 255, 255, 0.978),
    -72px 111px 0 -104px rgba(255, 255, 255, 0.575),
    -59px 125px 0 -104px rgba(255, 255, 255, 0.059),
    -24px 23px 0 -104px rgba(255, 255, 255, 0.286),
    32px 29px 0 -104px rgba(255, 255, 255, 0.021),
    -5px 8px 0 -104px rgba(255, 255, 255, 0.298),
    120px 111px 0 -104px rgba(255, 255, 255, 0.354),
    -52px -27px 0 -104px rgba(255, 255, 255, 0.524),
    108px 56px 0 -104px rgba(255, 255, 255, 0.637),
    -50px -138px 0 -104px rgba(255, 255, 255, 0.573),
    -60px 37px 0 -104px rgba(255, 255, 255, 0.044),
    -40px 100px 0 -104px rgba(255, 255, 255, 0.121),
    90px 97px 0 -104px rgba(255, 255, 255, 0.602),
    -137px -14px 0 -104px rgba(255, 255, 255, 0.58),
    -57px 75px 0 -104px rgba(255, 255, 255, 0.676),
    -51px -17px 0 -104px rgba(255, 255, 255, 0.176),
    -51px 85px 0 -104px rgba(255, 255, 255, 0.216),
    112px -91px 0 -104px rgba(255, 255, 255, 0.245),
    -25px -91px 0 -104px rgba(255, 255, 255, 0.981),
    -100px 17px 0 -104px rgba(255, 255, 255, 0.269),
    25px 143px 0 -104px rgba(255, 255, 255, 0.421),
    128px -89px 0 -104px rgba(255, 255, 255, 0.067),
    -60px 96px 0 -104px rgba(255, 255, 255, 0.809),
    84px -90px 0 -104px rgba(255, 255, 255, 0.028),
    104px 55px 0 -104px rgba(255, 255, 255, 0.153),
    -95px 66px 0 -104px rgba(255, 255, 255, 0.33),
    2px -44px 0 -104px rgba(255, 255, 255, 0.309),
    58px 24px 0 -104px rgba(255, 255, 255, 0.332),
    113px -63px 0 -104px rgba(255, 255, 255, 0.234),
    -50px 129px 0 -104px rgba(255, 255, 255, 0.088),
    -55px -114px 0 -104px rgba(255, 255, 255, 0.16),
    17px 54px 0 -104px rgba(255, 255, 255, 0.153),
    42px 38px 0 -104px rgba(255, 255, 255, 0.322),
    31px 96px 0 -104px rgba(255, 255, 255, 0.558),
    -123px 104px 0 -104px rgba(255, 255, 255, 0.145),
    -80px -88px 0 -104px rgba(255, 255, 255, 0.862),
    -128px 23px 0 -104px rgba(255, 255, 255, 0.239),
    140px 27px 0 -104px rgba(255, 255, 255, 0.785),
    6px -29px 0 -104px rgba(255, 255, 255, 0.722),
    -128px 80px 0 -104px rgba(255, 255, 255, 0.542),
    27px 109px 0 -104px rgba(255, 255, 255, 0.711),
    -44px 109px 0 -104px rgba(255, 255, 255, 0.379),
    114px -115px 0 -104px rgba(255, 255, 255, 0.947),
    92px -69px 0 -104px rgba(255, 255, 255, 0.156),
    83px -119px 0 -104px rgba(255, 255, 255, 0.795),
    140px 118px 0 -104px rgba(255, 255, 255, 0.015),
    -63px -143px 0 -104px rgba(255, 255, 255, 0.436),
    10px 105px 0 -104px rgba(255, 255, 255, 0.953),
    -108px -47px 0 -104px rgba(255, 255, 255, 0.048),
    92px -143px 0 -104px rgba(255, 255, 255, 0.503),
    108px 79px 0 -104px rgba(255, 255, 255, 0.414),
    -65px 96px 0 -104px rgba(255, 255, 255, 0.173),
    -126px -71px 0 -104px rgba(255, 255, 255, 0.085),
    101px 52px 0 -104px rgba(255, 255, 255, 0.202),
    42px 69px 0 -104px rgba(255, 255, 255, 0.768),
    25px 112px 0 -104px rgba(255, 255, 255, 0.21),
    -123px -117px 0 -104px rgba(255, 255, 255, 0.191),
    -99px -29px 0 -104px rgba(255, 255, 255, 0.41),
    39px 49px 0 -104px rgba(255, 255, 255, 0.485),
    89px -8px 0 -104px rgba(255, 255, 255, 0.156),
    25px -118px 0 -104px rgba(255, 255, 255, 0.791),
    15px 79px 0 -104px rgba(255, 255, 255, 0.757),
    -121px -112px 0 -104px rgba(255, 255, 255, 0.441),
    75px 115px 0 -104px rgba(255, 255, 255, 0.727),
    -20px 92px 0 -104px rgba(255, 255, 255, 0.402),
    -106px -74px 0 -104px rgba(255, 255, 255, 0.084),
    -11px 123px 0 -104px rgba(255, 255, 255, 0.433),
    -112px -99px 0 -104px rgba(255, 255, 255, 0.598),
    102px 66px 0 -104px rgba(255, 255, 255, 0.549),
    83px -121px 0 -104px rgba(255, 255, 255, 0.17),
    89px 101px 0 -104px rgba(255, 255, 255, 0.156),
    -110px -39px 0 -104px rgba(255, 255, 255, 0.582),
    -94px -10px 0 -104px rgba(255, 255, 255, 0.269),
    -53px -8px 0 -104px rgba(255, 255, 255, 0.992),
    -135px 133px 0 -104px rgba(255, 255, 255, 0.181),
    57px 62px 0 -104px rgba(255, 255, 255, 0.022),
    -49px 90px 0 -104px rgba(255, 255, 255, 0.273),
    -98px 28px 0 -104px rgba(255, 255, 255, 0.977),
    20px 2px 0 -104px rgba(255, 255, 255, 0.567),
    117px 52px 0 -104px rgba(255, 255, 255, 0.667),
    1px 75px 0 -104px rgba(255, 255, 255, 0.152),
    113px 11px 0 -104px rgba(255, 255, 255, 0.98),
    -141px 66px 0 -104px rgba(255, 255, 255, 0.126),
    32px -126px 0 -104px rgba(255, 255, 255, 0.463),
    -65px 54px 0 -104px rgba(255, 255, 255, 0.635),
    97px 113px 0 -104px rgba(255, 255, 255, 0.764),
    66px -69px 0 -104px rgba(255, 255, 255, 0.417),
    144px 22px 0 -104px rgba(255, 255, 255, 0.004),
    98px 127px 0 -104px rgba(255, 255, 255, 0.786),
    125px -139px 0 -104px rgba(255, 255, 255, 0.224),
    110px -129px 0 -104px rgba(255, 255, 255, 0.753),
    61px -34px 0 -104px rgba(255, 255, 255, 0.428),
    -49px -47px 0 -104px rgba(255, 255, 255, 0.016),
    -18px 39px 0 -104px rgba(255, 255, 255, 0.529),
    27px -51px 0 -104px rgba(255, 255, 255, 0.986),
    -94px 56px 0 -104px rgba(255, 255, 255, 0.549),
    32px 137px 0 -104px rgba(255, 255, 255, 0.137),
    36px 144px 0 -104px rgba(255, 255, 255, 0.34),
    -106px -68px 0 -104px rgba(255, 255, 255, 0.768),
    141px -91px 0 -104px rgba(255, 255, 255, 0.554),
    -52px 69px 0 -104px rgba(255, 255, 255, 0.509),
    -45px 1px 0 -104px rgba(255, 255, 255, 0.122),
    -30px 118px 0 -104px rgba(255, 255, 255, 0.56),
    -121px 37px 0 -104px rgba(255, 255, 255, 0.573),
    -67px -41px 0 -104px rgba(255, 255, 255, 0.848),
    -2px -123px 0 -104px rgba(255, 255, 255, 0.47),
    31px -59px 0 -104px rgba(255, 255, 255, 0.631),
    55px -141px 0 -104px rgba(255, 255, 255, 0.289),
    -74px 104px 0 -104px rgba(255, 255, 255, 0.718),
    -46px 69px 0 -104px rgba(255, 255, 255, 0.493),
    -83px -52px 0 -104px rgba(255, 255, 255, 0.227),
    51px 118px 0 -104px rgba(255, 255, 255, 0.384),
    -142px 21px 0 -104px rgba(255, 255, 255, 0.222),
    -89px -110px 0 -104px rgba(255, 255, 255, 0.314),
    -120px -112px 0 -104px rgba(255, 255, 255, 0.417),
    -44px -42px 0 -104px rgba(255, 255, 255, 0.393),
    -115px -33px 0 -104px rgba(255, 255, 255, 0.188),
    26px -139px 0 -104px rgba(255, 255, 255, 0.899),
    43px -86px 0 -104px rgba(255, 255, 255, 0.687),
    106px 106px 0 -104px rgba(255, 255, 255, 0.172),
    -113px 0px 0 -104px rgba(255, 255, 255, 0.857),
    55px -29px 0 -104px rgba(255, 255, 255, 0.439),
    -143px -105px 0 -104px rgba(255, 255, 255, 0.95),
    95px -66px 0 -104px rgba(255, 255, 255, 0.589),
    -124px 80px 0 -104px rgba(255, 255, 255, 0.552),
    -138px -46px 0 -104px rgba(255, 255, 255, 0.831),
    27px 26px 0 -104px rgba(255, 255, 255, 0.009),
    15px 71px 0 -104px rgba(255, 255, 255, 0.227),
    112px 37px 0 -104px rgba(255, 255, 255, 0.741),
    117px 104px 0 -104px rgba(255, 255, 255, 0.558),
    -122px -18px 0 -104px rgba(255, 255, 255, 0.615),
    -25px 82px 0 -104px rgba(255, 255, 255, 0.016),
    98px -13px 0 -104px rgba(255, 255, 255, 0.362),
    -8px 82px 0 -104px rgba(255, 255, 255, 0.331),
    15px -36px 0 -104px rgba(255, 255, 255, 0.891),
    -34px -97px 0 -104px rgba(255, 255, 255, 0.178),
    92px 141px 0 -104px rgba(255, 255, 255, 0.119),
    -115px -86px 0 -104px rgba(255, 255, 255, 0.179),
    37px 13px 0 -104px rgba(255, 255, 255, 0.536),
    -14px 13px 0 -104px rgba(255, 255, 255, 0.755),
    -137px 8px 0 -104px rgba(255, 255, 255, 0.848),
    -73px 85px 0 -104px rgba(255, 255, 255, 0.723),
    -83px -93px 0 -104px rgba(255, 255, 255, 0.543),
    140px 93px 0 -104px rgba(255, 255, 255, 0.39),
    23px -13px 0 -104px rgba(255, 255, 255, 0.374),
    76px -26px 0 -104px rgba(255, 255, 255, 0.511),
    -101px -67px 0 -104px rgba(255, 255, 255, 0.617),
    -103px 8px 0 -104px rgba(255, 255, 255, 0.131),
    140px -34px 0 -104px rgba(255, 255, 255, 0.284),
    -120px 103px 0 -104px rgba(255, 255, 255, 0.328),
    74px -90px 0 -104px rgba(255, 255, 255, 0.689),
    113px -50px 0 -104px rgba(255, 255, 255, 0.483),
    -136px -42px 0 -104px rgba(255, 255, 255, 0.674),
    -115px -19px 0 -104px rgba(255, 255, 255, 0.689),
    -58px -136px 0 -104px rgba(255, 255, 255, 0.068),
    -51px -21px 0 -104px rgba(255, 255, 255, 0.563),
    -57px -65px 0 -104px rgba(255, 255, 255, 0.411),
    80px -38px 0 -104px rgba(255, 255, 255, 0.507),
    12px -65px 0 -104px rgba(255, 255, 255, 0.195),
    -144px 133px 0 -104px rgba(255, 255, 255, 0.885),
    106px -58px 0 -104px rgba(255, 255, 255, 0.118),
    -89px 20px 0 -104px rgba(255, 255, 255, 0.213),
    61px 145px 0 -104px rgba(255, 255, 255, 0.435),
    -49px -17px 0 -104px rgba(255, 255, 255, 0.476),
    23px -136px 0 -104px rgba(255, 255, 255, 0.083),
    11px 85px 0 -104px rgba(255, 255, 255, 0.819),
    92px -83px 0 -104px rgba(255, 255, 255, 0.46),
    -77px 94px 0 -104px rgba(255, 255, 255, 0.511),
    -11px -61px 0 -104px rgba(255, 255, 255, 0.206),
    38px 7px 0 -104px rgba(255, 255, 255, 0.05),
    -81px -64px 0 -104px rgba(255, 255, 255, 0.115),
    39px -61px 0 -104px rgba(255, 255, 255, 0.878),
    -126px -40px 0 -104px rgba(255, 255, 255, 0.475),
    50px -20px 0 -104px rgba(255, 255, 255, 0.253),
    -116px -144px 0 -104px rgba(255, 255, 255, 0.498),
    -95px -129px 0 -104px rgba(255, 255, 255, 0.02),
    -8px -10px 0 -104px rgba(255, 255, 255, 0.432),
    -38px -61px 0 -104px rgba(255, 255, 255, 0.869),
    -139px 100px 0 -104px rgba(255, 255, 255, 0.953),
    44px -84px 0 -104px rgba(255, 255, 255, 0.568),
    -57px 136px 0 -104px rgba(255, 255, 255, 0.211),
    109px 69px 0 -104px rgba(255, 255, 255, 0.91),
    -17px 136px 0 -104px rgba(255, 255, 255, 0.978),
    31px -90px 0 -104px rgba(255, 255, 255, 0.888),
    63px 59px 0 -104px rgba(255, 255, 255, 0.069),
    -76px 82px 0 -104px rgba(255, 255, 255, 0.94),
    78px -39px 0 -104px rgba(255, 255, 255, 0.186),
    67px -87px 0 -104px rgba(255, 255, 255, 0.093),
    18px 21px 0 -104px rgba(255, 255, 255, 0.018),
    -26px 9px 0 -104px rgba(255, 255, 255, 0.132),
    27px -88px 0 -104px rgba(255, 255, 255, 0.875),
    -57px 1px 0 -104px rgba(255, 255, 255, 0.015),
    -74px 117px 0 -104px rgba(255, 255, 255, 0.477),
    6px -102px 0 -104px rgba(255, 255, 255, 0.915),
    -83px 14px 0 -104px rgba(255, 255, 255, 0.223),
    118px -92px 0 -104px rgba(255, 255, 255, 0.707),
    122px 59px 0 -104px rgba(255, 255, 255, 0.297),
    -7px 58px 0 -104px rgba(255, 255, 255, 0.877),
    -120px 52px 0 -104px rgba(255, 255, 255, 0.401),
    -103px 70px 0 -104px rgba(255, 255, 255, 0.729),
    -113px -52px 0 -104px rgba(255, 255, 255, 0.489),
    30px -102px 0 -104px rgba(255, 255, 255, 0.621),
    23px 4px 0 -104px rgba(255, 255, 255, 0.148),
    84px 48px 0 -104px rgba(255, 255, 255, 0.187),
    27px 71px 0 -104px rgba(255, 255, 255, 0.912),
    35px -132px 0 -104px rgba(255, 255, 255, 0.222),
    -121px 92px 0 -104px rgba(255, 255, 255, 0.782),
    -30px 81px 0 -104px rgba(255, 255, 255, 0.965),
    54px 19px 0 -104px rgba(255, 255, 255, 0.004),
    35px 136px 0 -104px rgba(255, 255, 255, 0.276),
    -84px -38px 0 -104px rgba(255, 255, 255, 0.503),
    -117px 139px 0 -104px rgba(255, 255, 255, 0.357),
    -130px -97px 0 -104px rgba(255, 255, 255, 0.467),
    -129px 127px 0 -104px rgba(255, 255, 255, 0.691),
    67px 111px 0 -104px rgba(255, 255, 255, 0.261),
    -7px -95px 0 -104px rgba(255, 255, 255, 0.985),
    -18px 94px 0 -104px rgba(255, 255, 255, 0.202),
    123px 122px 0 -104px rgba(255, 255, 255, 0.557),
    75px -59px 0 -104px rgba(255, 255, 255, 0.506),
    -32px 130px 0 -104px rgba(255, 255, 255, 0.632),
    -5px -62px 0 -104px rgba(255, 255, 255, 0.113),
    83px 30px 0 -104px rgba(255, 255, 255, 0.062),
    -66px -101px 0 -104px rgba(255, 255, 255, 0.108),
    135px -127px 0 -104px rgba(255, 255, 255, 0.151),
    14px 37px 0 -104px rgba(255, 255, 255, 0.315),
    29px -106px 0 -104px rgba(255, 255, 255, 0.256),
    144px -54px 0 -104px rgba(255, 255, 255, 0.488),
    57px 70px 0 -104px rgba(255, 255, 255, 0.465),
    -57px -78px 0 -104px rgba(255, 255, 255, 0.553),
    9px 43px 0 -104px rgba(255, 255, 255, 0.873),
    34px -90px 0 -104px rgba(255, 255, 255, 0.193);
}
.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}
.hide {
  display: none;
}
.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}
@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}