html,
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  background-color: #fef5b4;
  color: #1c1b22;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}
.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translateX(-50%) translateY(-50%);
  background: radial-gradient(circle at center, #fff, #fff, #fff, #fff);
  border: 30px solid #1c1b22;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}
.clock::after {
  content: "";
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}
.hand {
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.3);
}
.clock::after {
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3);
}
.min,
.sec,
.clock::after {
  background-color: #4a904e;
}
.min,
.sec {
  position: absolute;
  left: 49.333333%;
  /* right: 50%; */
  transform-origin: bottom center;
}
.hr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hr::before,
.hr::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c1b22;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}
.hr::after {
  left: 50%;
  transform: rotate(15deg);
  transform-origin: left;
  animation: turn-r 43200s steps(24) infinite forwards; /* one step every half hour */
}
.hr::before {
  right: 50%;
  transform: rotate(-15deg);
  transform-origin: right;
  animation: turn-l 43200s steps(24) infinite forwards;
}
/* Minute and Second Hands */
.min,
.sec {
  transform: rotate(0);
  transform-origin: bottom center;
  animation: turn infinite forwards;
}
.min {
  width: 5px;
  height: 180px;
  top: calc(50% - 180px);
  animation-duration: 3600s;
  animation-timing-function: steps(60);
}
.sec {
  width: 2px;
  height: 200px;
  top: calc(50% - 200px);
  animation-duration: 60s;
  animation-timing-function: steps(60);
}
/* Hour Marks */
.mark {
  background-color: white;
  position: absolute;
  font-size: 3em;
  /* letter-spacing: -6px; */
  /* width: 2em; */
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.twelve {
  top: 40px;
  left: 50%;
}
/* Animations */
@keyframes turn-r {
  to {
    transform: rotate(375deg);
  }
}
@keyframes turn-l {
  to {
    transform: rotate(345deg);
  }
}
@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
